.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 10px;
  }
  
  .header {
    grid-column: span 12;
    background-color: #9a31b4;
    height: 60px;
  }
  
  .main {
    grid-column: span 3;
    background-color: #32c0e4;
    height: 350px;
    display: flex;
    flex-direction: column;

  }
  
  .in-block {
    background: #32c0e4;
    height: 50px;
  }
  
  .article {
    grid-column: 10 / span 3; 
    background-color: #32c0e4;
    height: 350px;
  }
  
  .footer {
    grid-column: span 12;
    background-color: #3180b4;
    height: 60px;
  }
  